html,
body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

/* Navbar Style */

@media only screen and (max-width: 600px) {
  .button-container {
    .nav-button {
      display: none !important;
    }
  }

  .nav-title {
    display: none;
  }

  .search-bar-container {
    width: 250px;
  }
}

.nav-container {
  padding: 7px 15px;
  height: 47px;
  display: flex;
  justify-content: space-between;

  .page-title {
    color: black;
    display: flex;
    text-decoration: none;
  }

  .fa-reddit {
    font-size: 30px;
  }

  .nav-title {
    font-size: 20px;
    margin-top: 2px;
    margin-left: 5px;
  }

  .search-bar-container {
    position: relative;
    display: flex;
    width: 650px;
    margin: 0 10px;

    .fa-search {
      position: absolute;
      color: grey;
      font-size: 16px;
      top: 10px;
      left: 12px;
    }

    .search-bar {
      border: 1px solid #ededed;
      border-radius: 3px;
      height: 35px;
      width: 100%;
      padding: 2px 15px 2px 33px;
      outline: 0;
      background-color: #f7f7f7;
      font-weight: lighter;

      &:hover,
      &:focus {
        border: 1px solid #7a9fff;
      }
    }
  }

  .logout-button {
    color: black;
  }

  .button-container {
    display: flex;

    .nav-button {
      width: 100px;
      min-width: 80px;
      height: 30px;
      padding: 0;
      margin: 0 4px;
      font-size: 11px;
      font-weight: bold;
    }

    .dropdown-toggle {
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 100%;
      height: 30px;
      i {
        margin-right: 7px;
      }

      p {
        margin-top: 15px;
        margin-right: 5px;
      }
    }

    .login-button {
      border: 1px solid #4040f7;

      &:hover {
        text-decoration: none;
        color: lightblue;
      }
    }

    .signup-button {
      &:hover {
        background-color: #0042f9;
      }
    }
  }
}

#help-tag {
  color: black;
}

/* Modal Style */

.auth-modal {
  .modal-body {
    display: flex;
    flex-direction: column;
  }

  .input-buttons-wrapper {
    display: flex;
    flex-direction: column;

    input {
      height: 40px;
      margin: 8px 0;
      border-radius: 3px;
      border: 1px solid #ededed;
      padding-left: 10px;
    }

    input::placeholder {
      font-size: 11px;
      font-weight: bold;
    }

    .error-message {
      font-size: 13px;
      color: red;
      margin-left: 8px;
    }
  }

  .google-button {
    position: relative;
    border: 1px solid #7a9fff;
    font-weight: bold;
    padding: 10px 20px;
    margin-bottom: 60px;
    .fa-google {
      color: cyan;
      margin-right: 25px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .modal-login-button,
  .modal-signup-button {
    margin-top: 10px;
    font-weight: bold;
    width: 100%;
  }
}

/* Homepage */

.main-container {
  background-color: #0a4893;
  width: 100%;
  min-height: 100vh;
  height: 100%;

  .contents {
    padding: 20px 320px;
    display: flex;
    justify-content: center;

    .left-contents {
      display: flex;
      flex-direction: column;
    }
  }
}

/* Header Component */

.subreddit-header-container {
  width: 100%;
  text-align: center;

  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }

  .subreddit-bottom-container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
    background: white;
    width: 100vw;

    .icon-container {
      background: white;
      width: 90px;
      min-width: 90px;
      height: 90px;
      min-height: 90px;
      border-radius: 50%;
      margin-bottom: 28px;

      i {
        font-size: 50px;
        margin-top: 16px;
        color: #fd5006;
      }
    }

    .title-container {
      flex-direction: column;
      margin-left: 20px;
      min-width: 385px;
      margin-bottom: 10px;
      font-weight: bold;

      .subreddit-title {
        font-weight: bold;
        letter-spacing: 1px;
      }

      .subreddit-url {
        text-align: left;
        color: #c9c9c9;
      }
    }
  }
}

/* Community Banner */

@media only screen and (max-width: 950px) {
  .community-container {
    display: none !important;
  }
}

.community-container {
  height: 370px;
  min-height: 370px;
  width: 320px;
  min-width: 320px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  .about-community {
    margin: 1px 1px 0px 1px;
    padding: 13px 13px;
    background-color: orange;
    height: 50px;
    min-height: 50px;
    color: white;
    width: 318px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 15px;
    font-weight: bold;
  }

  hr {
    color: black;
    width: 90%;
  }

  .community-description {
    padding: 3px 13px;
  }

  .community-date-created {
    padding: 5px 13px;
    display: flex;
    flex-direction: row;

    i {
      font-size: 15px;
      margin-right: 7px;
      margin-top: 3px;
    }

    p {
      font-size: 15px;
    }
  }
}

/* Post Summary */

@media only screen and (max-width: 950px) {
  .left-contents {
    margin-left: 25px;
  }

  .post-summary-container {
    margin-right: 0;
  }
}

.post-summary-container {
  position: relative;
  display: flex;
  background-color: white;
  height: auto;
  min-height: 180px;
  max-height: 400px;
  width: 640px;
  min-width: 570px;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 7px;

  .vote-bar {
    position: relative;
    min-width: 30px;
    width: auto;
    background-color: #cddcee;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 12px;

    .vote-button {
      border: none;
      background-color: transparent;
      outline: none;
      .fa-arrow-up,
      .fa-arrow-down {
        color: #7f7f7f;
        margin-top: 8px;
      }
    }

    .fa-arrow-up:hover,
    .fa-arrow-down:hover {
      color: orange;
    }

    .fa-circle {
      font-size: 5px;
    }
  }

  .summary-contents {
    padding: 8px;
    width: 610px;
    min-width: 570px;
    .posted-by {
      font-size: 12px;
      color: grey;
    }

    .post-summary-title {
      font-size: 22px;
    }

    .post-summary {
      font-weight: lighter;
    }

    .summary-functions {
      font-size: 12px;
      color: grey;
      margin-top: 40px;
      font-weight: bold;
    }
  }
}

/* create post */

.post-button-container {
  display: flex;
  height: 60px;
  min-height: 60px;
  width: 640px;
  min-width: 570px;
  margin-right: 25px;
  margin-bottom: 15px;
  border-radius: 7px;
  background-color: white;
  align-items: center;
  padding: 0px 8px;

  .create-button {
    background-color: transparent;
    outline: none;
    border: none;
  }

  i {
    font-size: 35px;
    color: #dedddd;
  }

  input {
    border: 1px solid #efefef;
    border-radius: 3px;
    background-color: #f4f4f4;
    padding-left: 15px;
    height: 40px;
    width: 580px;
  }
}

/* Create Post */

.create-post-container {
  display: flex;
  background-color: #eef5fb;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .create-post-main {
    padding: 45px 280px;
    display: flex;
    justify-content: center;

    .create-post-left-container {
      display: flex;
      flex-direction: column;
      width: 740px;
      min-width: 550px;
      margin-right: 25px;
      position: relative;

      .post-box {
        position: absolute;
        width: 740px;
        min-width: 550px;
        min-height: 350px;
        top: 70px;
        height: auto;
        background-color: white;

        .post-button {
          margin: 20px;
          float: right;
          width: 85px;
        }

        input {
          padding-left: 15px;
          width: 700px;
          min-width: 530px;
          margin: 20px 20px 10px 20px;
          height: 40px;
          border: 1px solid #dddddd;
          border-radius: 5px;
        }

        textarea {
          margin: 20px;
          width: 700px;
          min-width: 530px;
          padding-left: 15px;
          padding-top: 10px;
          height: 200px;
          border: 1px solid #dddddd;
          border-radius: 5px;
        }
      }

      p {
        font-size: 18px;
        margin-bottom: 0px;
      }

      hr {
        margin-top: 7px;
        border: 1px solid #dddddd;
        width: 100%;
      }
    }
  }
}

/* Post */
@media only screen and (max-width: 1060px) {
  .post-main-container {
    .community-container {
      display: none !important;
    }
  }
}

.post-main-container {
  padding: 20px 320px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  min-height: 100vh;
  height: 100%;

  .post-left-container {
    display: flex;
    flex-direction: column;
    margin-right: 25px;

    .content-box {
      display: flex;
      height: auto;
      width: 700px;
      min-width: 570px;
      background-color: white;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      padding-right: 38px;

      .vote-bar {
        position: relative;
        min-width: 30px;
        width: auto;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        font-size: 12px;

        .vote-button {
          border: none;
          background-color: transparent;
          outline: none;
          .fa-arrow-up,
          .fa-arrow-down {
            color: #7f7f7f;
            margin-top: 8px;
          }
        }

        .fa-arrow-up:hover,
        .fa-arrow-down:hover {
          color: orange;
        }

        .fa-circle {
          font-size: 5px;
        }
      }

      .post-contents {
        padding: 8px;

        .posted-by {
          font-size: 12px;
          color: grey;
        }

        .post-title {
          font-size: 22px;
        }

        .summary-functions {
          font-size: 12px;
          color: grey;
          margin-top: 40px;
          margin-bottom: 20px;
          font-weight: bold;
        }

        .comment-box-container {
          display: flex;
          flex-direction: column;

          textarea {
            width: 620px;
            height: 140px;
            padding: 7px;
          }

          #comment-btn {
            float: right;
            margin-top: 20px;
            background-color: navy;
            border: none;
            height: 30px;
            font-size: 13px;
          }
        }

        .comment-box-container2 {
          display: flex;
          justify-content: space-between;
          width: 610px;
          height: 55px;
          border: 1px solid #dddddd;
          border-radius: 5px;
          align-items: center;
          padding: 8px;
          margin-top: 20px;

          p {
            font-size: 17px;
            color: #898989;
            margin-top: 14px;
          }

          #comment-btn2 {
            display: flex;
            align-items: center;

            .login-button {
              border: 1px solid #4040f7;
              margin-right: 10px;
              height: 35px;
              font-size: 15px;
              font-weight: bold;
            }

            .signup-button {
              height: 35px;
              font-size: 15px;
              font-weight: bold;
            }
          }
        }
      }
    }

    .comment-container {
      background-color: white;
      width: 700px;
      height: auto;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      padding: 38px;

      #hrLine {
        width: 610px;
        height: 1px;
        background-color: #dddddd;
        margin-bottom: 30px;
      }
    }
  }
}

/* Comment */

.cmt-container {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 90px;

  .cmt {
    display: flex;

    .comment-vote-bar {
      min-width: 30px;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      font-size: 13px;

      .comment-vote-button {
        border: none;
        background-color: transparent;
        outline: none;
        .fa-arrow-up,
        .fa-arrow-down {
          color: #7f7f7f;
        }
      }

      .fa-arrow-up:hover,
      .fa-arrow-down:hover {
        color: orange;
      }
    }

    .comment-contents {
      .posted-by {
        font-size: 12px;
        color: black;
        margin-bottom: 0;
        font-weight: lighter;
        display: flex;
        align-items: center;

        i {
          font-size: 2px;
          margin: 0px 5px;
        }
      }

      .comment-text {
        margin-bottom: 5px;
      }

      .comment-reply {
        font-size: 12px;
        font-weight: bold;
        padding: 0;
        width: 60px;
        border-radius: 4px;

        #reply-button {
          border: none;
          background-color: transparent;
          outline: none;

          i {
            margin-right: 4px;
            margin-top: 2px;
            font-size: 12px;
            color: #7f7f7f;
          }
        }

        &:hover {
          background-color: #e5e5e5;
        }
      }
    }
  }

  .comment-box-container {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 25px;

    .reply {
      display: flex;

      .vertical-line {
        background-color: #e5e5e5;
        height: 140px;
        width: 1px;
        margin-right: 17px;
      }

      textarea {
        width: 590px;
        height: 140px;
        padding: 7px;
      }
    }

    #comment-btn {
      float: right;
      margin-top: 20px;
      background-color: navy;
      border: none;
      height: 30px;
      font-size: 13px;
    }
  }
}

/* Reply */

.reply-container {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 90px;
  margin-top: 15px;

  .cmt {
    display: flex;
    padding-left: 25px;
    .comment-vote-bar {
      min-width: 30px;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      font-size: 13px;

      .comment-vote-button {
        border: none;
        background-color: transparent;
        outline: none;
        .fa-arrow-up,
        .fa-arrow-down {
          color: #7f7f7f;
        }
      }

      .fa-arrow-up:hover,
      .fa-arrow-down:hover {
        color: orange;
      }
    }

    .comment-contents {
      .posted-by {
        font-size: 12px;
        color: black;
        font-weight: lighter;
        display: flex;
        align-items: center;

        i {
          font-size: 2px;
          margin: 0px 5px;
        }
      }

      .comment-text {
        margin-bottom: 5px;
      }

      .comment-reply {
        font-size: 12px;
        font-weight: bold;
        padding: 0;
        width: 60px;
        border-radius: 4px;

        #reply-button {
          border: none;
          background-color: transparent;
          outline: none;

          i {
            margin-right: 4px;
            margin-top: 2px;
            font-size: 12px;
            color: #7f7f7f;
          }
        }

        &:hover {
          background-color: #e5e5e5;
        }
      }
    }
  }

  .comment-box-container {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 25px;

    .reply {
      display: flex;

      .vertical-line {
        background-color: #e5e5e5;
        height: 140px;
        width: 1px;
        margin-right: 17px;
      }

      textarea {
        width: 590px;
        height: 140px;
        padding: 7px;
      }
    }

    #comment-btn {
      float: right;
      margin-top: 20px;
      background-color: navy;
      border: none;
      height: 30px;
      font-size: 13px;
    }
  }
}

/* NotFound */

.not-found {
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  i {
    font-size: 200px;
    color: orange;
  }

  #nf-msg {
    font-size: 40px;
  }
}
